<h2>Vse ponudbe</h2>

{% for o in offers %}

    <form action="{% url 'trznica:offeraccepted' %}" method="post">
        {% csrf_token %}
        <label><b>Vpisna številka:</b> {{ o.user.studentId }}</label><br>
        <label><b>Predmet:</b> {{ o.studentSubject }}</label><br>
        <label><b>Trenutni termin:</b> {{ o.studentOffer }}</label><br>
        <label><b>Menjam za:</b> {{ o.studentWish }}</label><br>
        <input type="submit" value="Sprejmi ponudbo"/><br>
        <input type="hidden" name="offer" value="{{ o.id }}"/>
        <br>
        <br>
    </form>

{% endfor %}

<a href="{% url 'trznica:index' %}">Nazaj</a>