{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-default" role="button" href="{% url 'documents:list' class.predmet_id %}">Nazaj na seznam</a>
    <h2>{{ class.predmet_name }}</h2>
    <h3>{{ document.title }}</h3>
    <br/>
    <p>{{ document.description }}</p>

    <br/><br/>
    <a class="btn btn-primary" role="button" href="{% url 'documents:download' class.predmet_id document.id %}">Prenesi</a>
    {% if user.is_staff or is_owner %}
    <a class="btn btn-default" role="button" href="{% url 'documents:update' class.predmet_id document.id %}">Posodobi</a>
    <a class="btn btn-danger" role="button" href="{% url 'documents:delete' class.predmet_id document.id %}">Izbriši</a>
    {% else %}
    <a class="btn btn-warning disabled" role="button" href="{% url 'documents:update' class.predmet_id document.id %}">Posodobi</a>
    <a class="btn btn-danger disabled" role="button" href="{% url 'documents:delete' class.predmet_id document.id %}">Izbriši</a>
    {% endif %}
{% endblock %}
