{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-default" role="button" href="{% url 'documents:index' %}">Nazaj na seznam</a> <a class="btn btn-default" role="button" href="{% url 'documents:upload' class.predmet_id %}">Nova datoteka</a>
    <h2>{{ class.predmet_name }}</h2><br/>
    <form action="{% url 'documents:list' class.predmet_id %}" method="get">
        <label for="query" class="sr-only">Iskanje</label>
        <input type="text" maxlength="60" name="query" id="id_query" class="form-control" placeholder="Datoteka" required autofocus>
            <br/><p><button type="submit" class="btn btn-info">
                Iskanje
            </button></p>
    </form>
    {% if query_text %}
        <a class="btn btn-default" role="button" href="{% url 'documents:list' class.predmet_id %}">Ponastavi iskanje</a>
        <br/><br/><p>Rezultati iskanja za: {{ query_text }}</p>
    {% endif %}

  <h3>Datoteke</h3>
    
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{% url 'documents:detail' class.predmet_id document.id %}">{{ document.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ni datotek.</p>
    {% endif %}
{% endblock %}