{% extends 'base.html' %}

{% block content %}
        <a class="btn btn-default" role="button" href="{% url 'documents:detail' class.predmet_id document.id %}">Prekliči urejanje</a>
        <h2>{{ class.predmet_name }}</h2><br/>
        <form action="{% url 'documents:update' class.predmet_id document.id %}" method="post">
            {% csrf_token %}
            <h4>Posodobi datoteko</h4>
            <label for="title" class="sr-only">Ime</label>
            <input type="text" maxlength="60" name="title" id="id_title" class="form-control" value="{{ document.title }}" placeholder="Ime datoteke" required autofocus>
            <br/>
            <label for="description" class="sr-only">Opis</label>
            <textarea maxlength="1000" rows="4" name="description" id="id_description" class="form-control" placeholder="Opis datoteke" required>{{ document.description }}</textarea>
            
            <br/>
            <br/><p><button type="submit" class="btn btn-info">
                Posodobi
            </button></p>
        </form>
{% endblock %}