<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prenesi datoteko - {{ class.predmet_name }}</title>   
    </head>
    <body>
        <a href="{% url 'documents:list' class.predmet_id %}">Nazaj na seznam</a>
        <form action="{% url 'documents:upload' class.predmet_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Prenesi datoteko:</p>
            <p>{{ form.non_field_errors }}</p>
            <p>Ime
                {{ form.title.errors }}
                {{ form.title }}
            </p>
            <p>Opis
                {{ form.description.errors }}
                {{ form.description }}
            </p>
            <p>Datoteka
                {{ form.file.errors }}
                {{ form.file }}
            </p>
            <p><input type="submit" value="Prenesi" /></p>
        </form>
    </body>
</html>