<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is FRIm homepage</title>
</head>
<body>
<h1>This is homepage :)</h1>
<h2>For now it only shows users as an example :)</h2>
<ul>
    {% for user in all_users %}
        <li><a href='user/{{ user.id }}'>Username: {{ user.username }}, Name: {{ user.first_name }}, Last name: {{ user.last_name }}, Email: {{ user.email }}, Date joined: {{ user.date_joined }}, Is superuser: {{ user.is_superuser }}</a></li>
    {% endfor %}
    <li><a href='user/{{ invalid_user }}'>Invalid user(to demonstrate 404 error)</li>
</ul>
</body>
</html>