{% extends 'base.html' %}

{% block content %}

    <h2>Moj urnik</h2>
    <h5>Verzija urnika: {{ urnik_name }}</h5>
    <br>
    <p><b>Ponedeljek:</b></p>
    {% for u in urnik %}
        {% if u.day == 'ponedeljek' %}
            <ul class="list-group">
                <li class="list-group-item"><p>{{ u.time }}, {{ u.subjectId }}, {{ u.type }}; {{ u.classroom }}; {{ u.teacher }}<a href="/forum" class="btn btn-xs">Forum</a><a href="/documents{{ u.subjectId }}" class="btn btn-xs">Dokumenti</a></p></li>
            </ul>
        {% endif %}
    {% endfor %}
    <br>

    <p><b>Torek:</b></p>
    {% for u in urnik %}
        {% if u.day == 'torek' %}
            <ul class="list-group">
                <li class="list-group-item"><p>{{ u.time }}, {{ u.subjectId }}, {{ u.type }}; {{ u.classroom }}; {{ u.teacher }}<a href="/forum" class="btn btn-xs">Forum</a><a href="/documents/{{ u.subjectId }}". class="btn btn-xs">Dokumenti</a></p></li>
            </ul>
        {% endif %}
    {% endfor %}
    <br>

    <p><b>Sreda:</b></p>
    {% for u in urnik %}
        {% if u.day == 'sreda' %}
            <ul class="list-group">
                <li class="list-group-item"><p>{{ u.time }}, {{ u.subjectId }}, {{ u.type }}; {{ u.classroom }}; {{ u.teacher }}<a href="/forum" class="btn btn-xs">Forum</a><a href="/documents/{{ u.subjectId }}" class="btn btn-xs">Dokumenti</a></p></li>
            </ul>
        {% endif %}
    {% endfor %}
    <br>

    <p><b>Četrtek:</b></p>
    {% for u in urnik %}
        {% if u.day == 'cetrtek' %}
            <ul class="list-group">
                <li class="list-group-item"><p>{{ u.time }}, {{ u.subjectId }}, {{ u.type }}; {{ u.classroom }}; {{ u.teacher }}<a href="/forum" class="btn btn-xs">Forum</a><a href="/documents/{{ u.subjectId }}" class="btn btn-xs">Dokumenti</a></p></li>
            </ul>
        {% endif %}
    {% endfor %}
    <br>

    <p><b>Petek:</b></p>
    {% for u in urnik %}
        {% if u.day == 'petek' %}
            <ul class="list-group">
                <li class="list-group-item"><p>{{ u.time }}, {{ u.subjectId }}, {{ u.type }}; {{ u.classroom }}; {{ u.teacher }}<a href="/forum" class="btn btn-xs">Forum</a><a href="/documents/{{ u.subjectId }}" class="btn btn-xs">Dokumenti</a></p></li>
            </ul>
        {% endif %}
    {% endfor %}
    <br>

    <h2>Vsi Predmeti</h2>
    <ul>
        {% for cls in all_classes %}
        <li><a href="https://urnik.fri.uni-lj.si/timetable/{{ urnik_name }}/allocations?subject={{ cls.predmet_id }}">{{ cls.predmet_id }} - {{ cls.predmet_name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}