<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prijava</title>
</head>
<body>
        <form action="{% url 'login:login' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Prijava</p>
            <p>{{ form.non_field_errors }}</p>
            <p>E-mail
                {{ form.mail.errors }}
                {{ form.mail }}
            </p>
            <p>Geslo
                {{ form.password.errors }}
                {{ form.password }}
            </p>
            <p><input type="submit" value="Potrdi" /></p>
        </form>
</body>
</html>