body {
  /*min-height: 2000px;*/
  padding-top: 70px;
  background-color: #eee;
}

.jumbotron {
  background-color: #f8f8f8;
}

.navbar-brand {
  color: #2e6da4 !important;
  font-weight: bold;
  font-size: 200%;
}