{% extends 'base.html' %}

{% block content %}
<h2>Vse ponudbe</h2>

<form action="{% url 'market:alloffers' %}" method="get">
        <!--<p>{{ form.non_field_errors }}</p>
        <p>
            {{ form.query.errors }}
            {{ form.query }}
        </p>-->

        <label for="query" class="sr-only">Iskanje</label>
        <input type="text" maxlength="60" name="query" id="id_query" class="form-control" placeholder="Ponudba" required autofocus>
            <br/><p><button type="submit" class="btn btn-info">
                Iskanje
            </button></p>

    </form>
    {% if query_text %}
        <a class="btn btn-default" role="button" href="{% url 'market:alloffers' %}">Ponastavi iskanje</a>
        <br/><br/><p>Rezultati iskanja za: {{ query_text }}</p>
    {% endif %}

{% for o in offers %}

    <form action="{% url 'market:offeraccepted' %}" method="post">
        {% csrf_token %}
        <div style="background-color:white;border-radius:10px;padding:15px;">
            <label><b>Vpisna številka:</b> <small>{{ o.user.studentId }}</small></label><br>
            <label><b>Predmet:</b> <small>{{ o.studentSubject }}</small></label><br>
            <label><b>Trenutni termin:</b> <small>{{ o.studentOffer }}</small></label><br>
            <label><b>Menjam za:</b> <small>{{ o.studentWish }}</small></label><br>
            <input type="submit" value="Sprejmi ponudbo"/><br>
            <input type="hidden" name="offer" value="{{ o.id }}"/>
        </div>
        <br>
        <br>
    </form>

{% endfor %}
<br>

<a href="{% url 'market:index' %}">Nazaj</a>
{% endblock %}