<h2>Moje ponudbe</h2>
{% for o in offers %}
    {% if not o.accepted  %}
        <label><b>Vpisna številka:</b> {{ o.user.studentId }}</label><br>
        <label><b>Predmet:</b> {{ o.studentSubject }}</label><br>
        <label><b>Trenutni termin:</b> {{ o.studentOffer }}</label><br>
        <label><b>Menjam za:</b> {{ o.studentWish }}</label><br>
        <br>
    {% endif %}
{% endfor %}
<br>
<br>

<h2>Sprejete ponudbe</h2>
{% for o in offers %}
    {% if o.accepted  %}
        <label><b>Vpisna številka:</b> {{ o.user.studentId }}</label><br>
        <label><b>Predmet:</b> {{ o.studentSubject }}</label><br>
        <label><b>Trenutni termin:</b> {{ o.studentOffer }}</label><br>
        <label><b>Menjam za:</b> {{ o.studentWish }}</label><br>
        <label><b>Ponudbo sprejel:</b> {{ o.acceptedBy }}</label><br>
        <br>
    {% endif %}
{% endfor %}
<br>
<a href="{% url 'market:index' %}">Nazaj</a>
