{% extends "base.html" %}


{% block content  %}

<!-- Forums -->
<div id="list">
<table border="0" cellpadding="4" width="100%" class="forum table-striped">
<thead>
    <tr>
       <th class="cell-stat text-center hidden-xs hidden-sm"> Forum </th>
       <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
       <th class="cell-stat text-center hidden-xs hidden-sm">Last post</th>
       <th></th>

    </tr>
</thead>
<tbody>
    {% for forum in forums %}
        <tr>
            <td {% if forloop.last %}class="last"{% endif %}>
               <h4><div class="title text-center hidden-xs hidden-sm"> <a href="{% url 'subforum' forum.id  %}">{{ forum.title }}</a> </h4>

                </div>
            </td>

            <td class="text-center hidden-xs hidden-sm {% if forloop.last %}last{% endif %}">{{ forum.num_posts }}</td>

            <td class="text-center hidden-xs hidden-sm {% if forloop.last %}last{% endif %} ">

                {{ forum.last_post.short|linebreaksbr }}
            </td>

             <td class="text-center hidden-xs hidden-sm {% if forloop.last %}last{% endif %} ">

                 <a class="button" href="{% url 'subforum' forum.pk %}">VIEW</a>

             </td>

        </tr>

    {% endfor %}
</tbody>
</div>


{% endblock %}