{% extends "base.html" %}


{% block content  %}

    <div class="row">
                <div class="col-md-4 ">
            <a id="new_topic" class="btn btn-default" href=" /forum/subscribed   "> Naročeni Forumi</a>
        </div>
        <div class="col-md-4 ">
            <h3>Vsi Forumi:</h3>
        </div>
        <div class="col-md-4 ">
            <form action="{% url 'index' %}" method="POST"> {% csrf_token %}
                 <input type="text" class="form-control" id="searchbar" name="search" value="{{ subject }}">
                <input type="submit" value="Iskanje po predmetih" id="submit" class="btn btn-primary  pull-right" />
            </form>
        </div>
    </div>


<!-- Forums -->
    <div class="row">


      {% if forums.object_list and forums.paginator.num_pages > 1 %}
        <div class="row">
      <div class="col-md-4 " > </div>
        <div class="col-md-5 ">
        {% if forums.has_previous %}
        <a href="?page={{ forums.previous_page_number }}" class="btn btn-default">Nazaj</a>
            {% else %}
                    <a href="?page=1" class="btn btn-default disabled">Nazaj</a>

        {% endif %}
        Stran {{ forums.number }} od {{ forums.paginator.num_pages }}

    {% if forums.has_next %}
        <a href="?page={{ forums.next_page_number }}" class="btn btn-default">Naprej</a>
        {% else %}
                            <a href="?page=1" class="btn btn-default disabled">Naprej</a>

    {% endif %}
</div>
       </div>
    {% endif %}






<div id="list">
<table border="0" cellpadding="4" width="100%" class="forum table-striped">
<thead>
    <tr>
       <th class="cell-stat text-center "> Forum </th>
       <th class="cell-stat text-center ">Sporocil</th>
       <th class="cell-stat text-center ">Zadnje sporocilo</th>
       <th></th>

    </tr>
</thead>
<tbody>
    {% for forum in forums %}
        <tr>
            <td {% if forloop.last %}class="last"{% endif %}>
               <h4><div class="title text-center "> <a href="{% url 'subforum' forum.id  %}">{{ forum.title }}</a> </h4>


            </td>

            <td class="text-center hidden-xs  {% if forloop.last %}last{% endif %}">{{ forum.num_posts }}</td>

            <td class="text-center hidden-xs  {% if forloop.last %}last{% endif %} ">

                {{ forum.last_post.short|linebreaksbr }}
            </td>

             <td class="text-center   {% if forloop.last %}last{% endif %} ">

                 <a class="btn btn-primary" href="{% url 'subforum' forum.pk %}">Poglej</a>

             </td>

        </tr>

    {% endfor %}
</tbody>
</table>


      {% if forums.object_list and forums.paginator.num_pages > 1 %}
        <div class="row">
      <div class="col-md-4 " > </div>
        <div class="col-md-5 ">
        {% if forums.has_previous %}
        <a href="?page={{ forums.previous_page_number }}" class="btn btn-default">Nazaj</a>
            {% else %}
                    <a href="?page=1" class="btn btn-default disabled">Nazaj</a>

        {% endif %}
        Stran {{ forums.number }} od {{ forums.paginator.num_pages }}

    {% if forums.has_next %}
        <a href="?page={{ forums.next_page_number }}" class="btn btn-default">Naprej</a>
        {% else %}
                            <a href="?page=1" class="btn btn-default disabled">Naprej</a>

    {% endif %}
</div>
       </div>
    {% endif %}


</div>
    </div>






{% endblock %}