{% extends "base.html" %}


{% block content  %}

<!-- Posts -->
    <div class="row">
        <div class="col-md-4">
            <a id="new_topic" class="btn btn-default pull-left" href=" {%  url 'subforum' forumID %}   "> Nazaj</a>

        </div>
        <div class="col-md-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-md-4">
            <a id="new_topic" class="btn btn-primary pull-right" href=" {% url 'post' ptype="reply" id=pk %}   "> Odgovori </a>
        </div>
    </div>


          {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="row">
      <div class="col-md-4 " > </div>
        <div class="col-md-5 ">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}" class="btn btn-default">Nazaj</a>
            {% else %}
                    <a href="?page=1" class="btn btn-default disabled">Nazaj</a>

        {% endif %}
        Stran {{ posts.number }} od {{ posts.paginator.num_pages }}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="btn btn-default">Naprej</a>
        {% else %}
                            <a href="?page=1" class="btn btn-default disabled">Naprej</a>

    {% endif %}

</div>
       </div>
    {% endif %}


{% for post in posts %}

    <div class="row">
       {% if not post.created_by == request.user %} {# is even #}
        <div class="col-sm-2">
            <div class="thumbnail"> <img src="{{ post.slika }}" /> </div>
        </div>
        {% endif %}
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                                  {% if request.user == post.created_by %}
                    <a id="new_topic" class="btn btn-primary btn-xs" href=" {% url 'post' ptype="edit" id=post.id %}   "> Edit </a>
                    {% endif %}    <strong>{{ post.title }} &nbsp; </strong><small class="pull-right"> {{ post.created_by.first_name }} {{ post.created_by.last_name }} , {{ post.time|date:'Y-m-d H:i' }} </small>
                </div>
                <div class="panel-body">
                     {{ post.body }}

                </div>
            </div>
        </div>
           {% if  post.created_by == request.user %} {# is even #}
        <div class="col-sm-2">
            <div class="thumbnail"> <img src="{{ post.slika }}" /> </div>
        </div>
        {% endif %}
    </div>

{% endfor %}
    <div class="row">
        <div class="col-sm-1">

    <a id="new_topic" class="btn btn-primary" href=" {% url 'post' ptype="reply" id=pk %}   "> Odgovori </a>
        </div>

    <!--Page Links- -->

      {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="row">
      <div class="col-md-4 " > </div>
        <div class="col-md-5 ">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}" class="btn btn-default">Nazaj</a>
            {% else %}
                    <a href="?page=1" class="btn btn-default disabled">Nazaj</a>

        {% endif %}
        Stran {{ posts.number }} od {{ posts.paginator.num_pages }}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="btn btn-default">Naprej</a>
        {% else %}
                            <a href="?page=1" class="btn btn-default disabled">Naprej</a>

    {% endif %}
</div>
       </div>
    {% endif %}




<br />
    </div>

{% endblock %}