{% extends "base.html" %}


{% block content  %}

<!-- Threads -->

    <div class="row">
    <div class="col-md-4 ">
            <a id="new_topic" class="btn btn-default pull-left" href=" /forum   "> Nazaj</a>
    </div>
            <div class="col-md-4 ">

        <h4>{{ forum.title }} </h4>
            </div>
        <div class="col-md-4 ">
            <a style="margin-bottom: 5px" id="new_topic" class="btn btn-default pull-right" href=" {% url 'post' ptype="new_thread" id=pk %}   "> Nova Tema</a>

            {% if user.is_authenticated %}
                <form action="{% url 'sub' %}" method="POST"> {% csrf_token %}
                  <input type="hidden" name="forum" value="{{ forum.pk }}">
                {% if not sub %}
                      <input type="hidden" name="sub" value="YES">
                    <input type="submit" value="Prijavi se na forum" id="submit" class="btn btn-default pull-right" />
                {% else %}
                      <input type="hidden" name="sub" value="NO">
                    <input type="submit" value="Odjavi se iz foruma" id="submit" class="btn btn-danger pull-right" />

                {% endif %}
                </form>

            {% endif %}
    </div>
    </div>



<div class="row">
<table border="0" cellpadding="4" width="100%" class="table-striped">
<thead>
    <tr>
       <th class="cell-stat text-center  ">Tema</th>
       <th class="cell-stat text-center  ">Odgovorov</th>
       <th class="cell-stat text-center  ">Zadnji odgovor</th>
       <th></th>
    </tr>
</thead>
<tbody>
    {% for thread in subforum %}
        <tr>
            <td class="{% if forloop.last %}last{% endif %}">
               <h4><div class="title text-center  "> <a style="font-size: 80%" href="{% url 'thread' thread.id  %}">{{ thread.title }}</a> </h4>

                </div>
            </td>

            <td class="text-center   {% if forloop.last %}last{% endif %}">{{ thread.num_replies }}</td>

            <td class="text-center   {% if forloop.last %}last{% endif %} ">

                <div style="font-size: 80%">{{ thread.last_post.short|linebreaksbr }}</div>
            </td>

             <td class="text-center   {% if forloop.last %}last{% endif %} ">

                 <a class="btn btn-default" href="{% url 'thread' thread.id %}">Ogled</a>

             </td>

        </tr>

    {% endfor %}
</tbody>
    </table>

</div>


            <!--Page Links- -->

    {% if subforum.object_list and subforum.paginator.num_pages > 1 %}
        <div class="row">
        <div class="col-sm-6 col-sm-offset-4">
    <div class="pagination">
    <span class="step-links">
        {% if subforum.has_previous %}
        <a href="?page={{ subforum.previous_page_number }}" class="btn btn-default">Prejšnja Stran</a>
        {% endif %}

    <span class="current">
        Stran {{ subforum.number }} od {{ subforum.paginator.num_pages }}
    </span>

    {% if subforum.has_next %}
        <a href="?page={{ subforum.next_page_number }}" class="btn btn-default">Naslednja Stran</a>
    {% endif %}
    </span>

    </div>
        </div>
        </div>
    {% endif %}


{% endblock %}